body {
	background: #232323;
}

figure {
	width: inherit;
}

img {
	width: inherit;
	margin: 0;
}

article {
	width: 368px;
	background: rgb(68, 68, 68);
	margin: 20px auto 0 auto;
}

time {
	color: rgb(187, 187, 187);
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

footer {
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
}

footer p {
	margin-top: 16px;
}

footer a {
	font-size: 16px;
	color: #3498db;
	text-decoration: none;
}

.meta {
	margin-bottom: 10px;
}

.meta a {
	font-size: 16px;
	color: #3498db;
	text-decoration: none;
	margin-right: 8px;

}

.artigo a {
	font-size: 24px;
	font-family: Roboto;
	font-weight: 700;
	line-height: 28.8px;
	text-decoration-line: none;
	text-decoration-style: solid;
	color: rgb(68, 68, 68);

}

.artigo a:hover {
	color: #2980b9;
}

.artigo p {
	margin-top: 16px;
	color: rgb(102, 102, 102);
	font-size: 16px;
	font-weight: 400;
	line-height: 25.6px;
}


.container_article {
	margin-top:-4px;
	padding: 16px;
	background: #FFFFFF;
}


article + p {
	margin-top: 10px;
	color: rgb(255, 255, 255);
	text-align: center;
	font-weight: bold;
}

article + p a{
	font-size: 16px;
	color: #3498db;
	text-decoration: none;
	font-weight: normal;
}

.border_radius {
	border-radius: 6px 6px 6px 6px / 6px 6px 6px 6px;
}